body {
  background-color: rgb(212, 245, 254);
  color: rgb(1, 1, 124);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.dark-mode {
  background-color: rgb(1, 1, 124);
  color: rgb(212, 245, 254);
}

h3 {
  background-color: grey;
  width: 15%;
  font-size: 0.8rem;
  margin: 1rem;
  text-align: center;
  border-radius: 6px;
  transition: 0.6s;
  padding: 0.8rem;
}

h3:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: rgb(1, 1, 124);
  background: white;
  border: 2px solid rgb(1, 1, 124);
}

h4 {
  background-color: orange;
  width: 35%;
  margin: 1.5rem auto;
  border: 2px solid darkgrey;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  transition: 0.6s;
}

h4:hover {
  background-color: white;
  transform: scale(0.9);
}

h1,
h2,
p {
  margin: 1rem auto;
  text-align: center;
}

h1 {
  border-radius: 60px 200px 100px 200px;
  border: 2px solid #000000;
  max-width: 40%;
  background-color: #f9c901;
  padding: 3rem .5rem;
}
